/* 
Credits: envatotuts+

https://webdesign.tutsplus.com/tutorials
/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535


*/


/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
nav {
    /* #000428 → #004e92 */
    /* #141e30 → #243b55 */
    background-image: linear-gradient(to bottom, #141e30, #243b55);
    /* background-color: black; */
    padding: 1%;
}
a {
    color: white;
    /* color: #000000; */
    text-decoration: none;
}
.menu {   
    list-style-type: none;
}
.item,.button {   
    padding: 2px;
    margin-inline: 40px;
}
#cvbutton{
    color: white;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: grey;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
    width: 100%;
    text-align: right;
}
.item,.item.button {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
}
.button a {
    background: #0080ff;
    border: 1px royalblue solid;
}

.button a:hover {
    text-decoration: none;
}
.button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
}
/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        /* order: 1; */
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
 
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
   
    .toggle {
        display: none;
    }
 
}